<h1>You have stepped into the Octagon</h1>
<div><%= link_to 'We are having a Christmas Party', invitation_path, class: 'invite-link'%></div>
<div><a class="invite-link" href="https://goo.gl/maps/SEowY3pPouB2">location</a></div>