<h1>You have stepped into the 
  <%= link_to 'Octagon', "https://goo.gl/maps/SEowY3pPouB2", class: 'invite-link' %> 
</h1>
<div><%= link_to 'We are having a Christmas Party', invitation_path, class: 'invite-link'%></div>