<div class="blog-card winter-fever">
  <div class="title-content">
    <h3 class="title">christmas party</h3>
    <hr />
    <p class="intro">
      The gentlemen of the Octagon cordially invite you to an evening filled with
      Christmas cocktails and plenty of cheer...
    </p>
    <div class="address">
      <p>
      1409 22nd Avenue North
      </p>
      <p>
      Nashville, Tennessee 37208
      </p> 
    </div>
    <div class="date">
      <span class="icon">Saturday 12.15.2018</span>
    </div>
  </div>
  <div class="masthead">
    <p>The Octagon © 2018.</p>
    <p>An Octagon Production. All Rights Reserved.</p>
  </div>
</div>