<div class="blog-card winter-fever">
  <div class="title-content">
    <h3 class="title">christmas party</h3>
    <hr />
    <div class="intro">
      The gentlemen of the Octagon cordially invite you to an evening filled with
      Christmas cocktails and plenty of cheer...
    </div>

    <a href="https://goo.gl/maps/SEowY3pPouB2">LOCATION</a>
  </div>

  <div class="masthead">
    <p>The Octagon © 2018.</p>
    <p>An Octagon Production. All Rights Reserved.</p>
  </div>
</div>